.glyphicon {
    margin-right : 10px;
}

.ranking {
    float: left;
    margin-right: 13px;
}

body {
    background-position: fixed;
    top: 500;
    background: url('../img/matrix2.jpg') no-repeat;
    /*background-size: cover;*/
}

.inputform {
	background-color: #2A2D33;
	border-radius: 15px;
	padding: 25px;

}

form {
	margin-bottom: 10px;
}



.output {
	background-color: #2A2D33;
	border-radius: 15px;
	margin-top: 25px;
	padding: 25px;

}

body {
		font-family: 'Ubuntu Mono', Courier, sans-serif;
}

.ng-scope h1 {
	font-family: 'Ubuntu Mono', Courier, sans-serif;
	font-weight: 700;
	color: #000;
	font-size: 4em;
}

h2, h3 {
	color: #fff;
}

.form-inline .form-group {
	margin-bottom: 30px;
}

label {
	color: #949699;
}

h4 {
	color: #949699;
}

.ng-binding {
	color: #fff;
}

.commentsheading {
	color: #000;
}

.commentsbutton {
	padding: 20px;

}

.commentsform {
	border-radius: 15px;
	margin-top: 30px;
	padding: 30px;
	background-color: #2A2D33;
}

.showcomments {
	border-radius: 15px;
	margin-top: 30px;
	padding: 30px;
	background-color: #2A2D33;

}

.commentsuser {
	color: #949699;
}

textarea.ng-binding {
	color: #000;
}

/* Mobile styles */

@media (max-width: 766px) {
	.btn {
		margin-top: 20px;
	}

@media (min-width: 768px) {
	.btn {
		margin-left: 50px;
	}
}

}

@media (min-width: 560px) and (max-width: 720px) {
	textarea {
		max-width: 400px;
	}
}

@media (max-width: 559px) {
	textarea {
		max-width: 250px;
	}
}



