<h2>Comments</h2>

<form ng-submit="addComment()" class='form-inline' role='form'>
    <div class='form-group'>
        <label for="cUserName">User Name :</label>
        <input type="text" ng-model='cUserName' class='form-control'>
        <label for="comment">Add a Comment :</label>
        <input type="text" class="form-control" ng-model="commentDescription">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<div ng-show='post.comments.length'>
    <h2>Here are all the comment for that post</h2>
    <ul>
        <li ng-repeat='item in post.comments'>
            <p><em>{{item.cUserName}}</em></p>
            <textarea row='2' cols='80' disabled>{{item.description}}</textarea>
        </li>
    </ul>
</div>

<div ui-view> </div>
