<h1>Hacker News</h1>

<div class="inputform">
<form ng-submit='PostsFactory.addPost()' class='form-inline' role='form'>
    <div class='form-group'>
        <h3>Add a Post</h3>
        <label for="post">Title :</label>
        <input type='text' ng-model='PostsFactory.postTitle' class='form-control' placeholder='Title Post' required>
        <label for="link">Link :</label>
        <input type="text" ng-model='PostsFactory.postLink' class='form-control' placeholder='http://www.example.com' required>
        <button type='submit' class='btn btn-success'>Post</button>
    </div>
</form>
</div>

<div ng-show='posts.length' class="output">
    <h2>Here are all the posts</h2>
    <h4>Click on blue arrow to upvote a post.</h4>
    <ul>
        <li ng-repeat='item in posts | filter:postIsStillRelevant | orderBy : "-ranking"'>
            <div class='ranking'>
                <a ng-click='PostsFactory.raiseRank(item)'>
                    <span class='glyphicon glyphicon-circle-arrow-up'></span>
                </a>
                <p>{{item.ranking}}</p>
            </div>
            <a href="{{item.link}}">{{item.title}}</a>
            <p>{{item.date | date:'yyyy-MM-dd HH:mm:ss'}}</p>
            <p> - <a ui-sref='comments({ postId: item.id})'>Comment</a> - </p>
        </li>
    </ul>
</div>


<div ui-view> </div>
