<h1>Hacker News</h1>

<form ng-submit='PostsFactory.addPost()' class='form-inline' role='form'>
    <div class='form-group'>
        <h3>New Post</h3>
        <label for="post">Title :</label>
        <input type='text' ng-model='PostsFactory.postTitle' class='form-control' placeholder='Title Post' required>
        <label for="link">Link :</label>
        <input type="text" ng-model='PostsFactory.postLink' class='form-control' placeholder='http://www.example.com' required>
        <button type='submit' class='btn btn-success'>Post</button>
    </div>
</form>

<div ng-show='posts.length'>
    <h2>Here are all the posts</h2>
    <ul>
        <li ng-repeat='item in posts | orderBy : "-ranking"'>
            <div class='ranking'>
                <a ng-click='PostsFactory.raiseRank(item)'>
                    <span class='glyphicon glyphicon-circle-arrow-up'></span>
                </a>
                <p>{{item.ranking}}</p>
            </div>
            <a href="{{item.link}}">{{item.title}}</a>
            <p> - <a ui-sref='comments({ postId: item.id})'>Comment</a> - </p>
        </li>
    </ul>
</div>

<div ui-view> </div>
